<div class="container">
<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign Up</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" (ngSubmit)="onSubmitRegistration(f)" #f="ngForm" >
                            <fieldset>
                               <div class="form-group">
                                    <input 
                                    class="form-control" 
                                    placeholder="Name" 
                                    id="name" 
                                    name="name" 
                                    ngModel 
                                    type="text" 
                                    #name="ngModel"
                                    required >
                                    <p class="help-block invalid" *ngIf="!name.valid && name.touched" >Please enter name</p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" 
                                      placeholder="Username" 
                                      id="username" 
                                      name="username" 
                                      ngModel 
                                      type="text" 
                                      #username="ngModel"
                                    required >
                                    <p class="help-block invalid" *ngIf="!username.valid && username.touched" >Please enter username</p>
                                </div>
                                <div class="form-group">
                                    <input 
                                      class="form-control" 
                                      placeholder="E-mail" 
                                      id="email" 
                                      name="email" 
                                      ngModel 
                                      type="email"
                                      required
                                      #email="ngModel"
                                    email >
                                    <p class="help-block invalid" *ngIf="!email.valid && email.touched" >Please enter a valid email!</p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" 
                                    placeholder="Password" 
                                    id="password" 
                                    name="password" 
                                    ngModel type="password" 
                                    #password="ngModel"
                                    required>
                                    <p class="help-block invalid" *ngIf="!password.valid && password.touched" >Please enter password</p>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block" [disabled] = "!f.valid" >Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>